<!DOCTYPE html>
<html>
<head>
  <title><%= data.title %></title>
  <style>
    .user-image {
      width: 40px;  /* Tamanho pequeno para o ícone */
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <%- include('includes/head') %>
  <%- include('includes/nav') %>

  <a href="/users/create">ADICIONAR USUARIO</a>
  <br>
  <h1><%= data.title %></h1>
  <ul>
    <% for (let i = 0; i < data.users.length; i++) { %>
      <li>
        <% if (data.users[i].image) { %>
          <img src="/uploads/<%= data.users[i].image %>" alt="User Image" class="user-image">
        <% } else { %>
          <img src="/uploads/default-avatar.png" alt="Default Avatar" class="user-image"> <!-- Avatar padrão -->
        <% } %>
        <%= data.users[i].name %> - <%= data.users[i].createdAt %>
      </li>
    <% } %>
  </ul>
  
  <!-- Botão de Logout -->
  <form action="/auth/logout" method="POST">
    <button type="submit">LOGOUT</button>
  </form>
</body>
</html>
