<!DOCTYPE html>
<html>
<head>
  <title><%= data.title %></title>
</head>
<body>
  <%- include('includes/head') %>
  <%- include('includes/nav') %>

  <a href="/users/create">ADICIONAR USUARIO</a>
  <br>
  <h1><%= data.title %></h1>
  <ul>
    <% for (let i = 0; i < data.users.length; i++) { %>
      <li>
        <%= data.users[i].name %> - <%= data.users[i].createdAt %>
      </li>
    <% } %>
  </ul>
  
  <!-- Botão de Logout -->
  <form action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
</body>
</html>
